<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Self Joins</h1>
        <table border="3px">
            <tr>
                <th>ENAME</th>
                <th>MGR</th>
                <th>SAL</th>
                <th>COMM</th>
                <th>HIREDATE</th>
                <th>DEPTNO</th>
            </tr>
            {% for emo in EMO %}
            <tr>
                <td>{{emo.ename}}</td>
                <td>{{emo.mgr.ename}}</td>
                <td>{{emo.sal}}</td>
                <td>{{emo.comm}}</td>
                <td>{{emo.hiredate}}</td>
                <td>{{emo.deptno.deptno}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>